
.order-type {
    display: flex;
    flex-direction:row;
    height: 85px; 
    width: auto; 
    background-color: #B9DBAD; 
    border-radius: 15px; 
    border-bottom: 1px solid #33333B;
    align-items: center;
    
}
.order-type p{
    color: #33333B;
    display: flex;
    font-weight: 600;
    font-size: larger;
    background-color: aliceblue;
    height: 50%;
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.order-type hr{
    border: 1px solid #33333B;
    height:25%; 
    width: auto;
    text-decoration: none;
}