/* OrderList.css */

.bottom-sheet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .bottom-sheet-content {
    padding: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .bottom-sheet1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .bottom-sheet-content1 {
    padding: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .bottom-sheet.open {
    height: 10%;
  }
  
  .bottom-sheet.open .bottom-sheet-content {
    opacity: 1;
  }
  
  
.order-type {
  display: flex;
  flex-direction:row;
  height: 85px; 
  width: auto; 
  background-color: #a5d6e1; 
  border-radius: 15px; 
  border-bottom: 0px solid #33333B;
  border-top: 0px solid #33333B;
  border-left: 0px solid #33333B;
  border-right: 0px solid #33333B;
  align-items: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  
}
.order-type p{
  color: #33333B;
  display: flex;
  font-weight: 600;
  font-size: larger;
  background-color: aliceblue;
  /* height: 50%; */
  /* width: 30%; */
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;padding-left: 40px;padding-right: 40px;padding-top: 15px;padding-bottom: 15px;
}
.order-type hr{
  border: 1px solid #33333B;
  height:50%; 

  text-decoration: none;
}