.order-card {
    display: flex;
    flex-direction: row;
   justify-content: stretch;
   
    
    height: 130px;
    max-width: auto; 
    width: 90%;
    border: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F4F4F4;
    margin: 0.5rem; 
    background-clip: padding-box;
    border: 1px solid#33333B;
    border-radius: 15px;
   padding-left: 10px;
 
}



.blank {
    /* height: 40px;  */
    line-height: 40px; 
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
    background-color: #000000;
    border-radius: 15px;
    margin-top: auto;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 10px;
    color: white;
    font-family: DMB;
}

.order-card p:first-child{
    font-size: large;
   font-weight: 600;
   color: #33333B;
}
.order-card p{
    color: #74B7A0;
}