.toggle-switch {
    position: relative;
    display: inline-block;
    width: 90px; 
    height: 45px; 
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background-color: white; 
    border-radius: 24px; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 1px;
    top: 3px;
    width: 40px; 
    height: 40px; 
    background-color: #fa3434; 
    border-radius: 50%; 
    transition: transform 0.3s ease;
    
  }
  
  .toggle-switch input[type="checkbox"]:checked + .switch {
    background-color: white; 
  }
  
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(46px); 
    background-color: #66dc45; 
  }
  