body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "DMR";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./fonts/HKR.otf") format("truetype");
}
@font-face {
  font-family: "DMB";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./fonts/HKB.otf") format("truetype");
}
@font-face {
  font-family: "DMSB";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./fonts/HKSB.otf") format("truetype");
}